a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}
ul {
    list-style-type: none;
    display:flex;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    
}
.item {
    padding: 10px 10px;
    margin: 10px 10px;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nabvar{
    display: flex;
}
.path{
    color: black;
}
.item:hover{
    color:blue;
}